#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* Style the Image Used to Trigger the Modal */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 100; /* Sit on top */
  padding-top: 0; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
  backdrop-filter: blur(5px);
}

.modalDesc {
  padding: 0;
  color: black;
  background-color: white;
  font-size: 12px;
  width: calc(100% - 2rem) !important;
  max-width: 960px;
  text-align: left;
}
.modalDesc p {
  margin: 1rem;
}

.modal .img-scroll-container {
  overflow: auto; /* Enable scroll if needed */
  overflow-y: initial !important;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  width: 100%;
  vertical-align: middle;
  display: flex;
  text-align: center;
}

.modal .img-scroll-container div {
  width: fit-content;
  height: fit-content;
  margin: auto;
  display: inline-block;
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: calc(100% - 2rem) !important;
  max-width: 960px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.2s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.modal_close {
  position: fixed !important;
  top: 75px;
  right: 30px;
}

.modal_summary{
  position: fixed !important;
  top: 135px;
  right: 30px;
}

.modal_forecast {
  position: fixed !important;
  top: 195px;
  right: 30px;
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

