/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: calc(100% - 50px); /* Full height */
  overflow: auto; /* Enable scroll if needed */
  overflow-y: initial !important;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
  backdrop-filter: blur(5px);
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 1000px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.2s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.modal_close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.modal_close:hover,
.modal_close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

.styles__content {
  max-width: 960px;
  margin: 0 auto;
}

.plotly-graph-div {
  margin: 0 auto;
}

.mdl-button {
  padding: 0 0.75rem;
}

.svg-container {
  width: 100%;
}

.valueOuter {
  padding: 0px !important;
}

.valueLow {
  border-color: #008FE0;
  background-color: #cce9f9;
  padding: 0px !important;
}


.valueMed {
  border-color: #bc70c7;
  background-color: #ead4ee;
  padding: 0px !important;
}

.valueHigh {
  border-color: #e46511;
  background-color: #f6d0b7;
  padding: 0px !important;
}

.valueCritical {
  border-color: #ae0868;
  background-color: #e6b4d1;
  padding: 0px !important;
}

.innerBorder {
  border-width: 2px;
  border-style: solid;
  width: calc(100% - 1rem);
  height: calc(100% - 1.2rem);
  margin: 0.3rem;
  margin-top:0.4rem;
}
.innerBorder span{
  margin-top:0.6rem;
  margin-right: 0.3rem;
  display: inline-block;
}

.mdl-tabs__panel {
  overflow-x: auto;
  padding-top: 2rem;
}

.center {
  text-align: center !important;
}

.counties-heattime.mdl-card {
  width: 90%;
  margin: 4rem;
  margin-left: 5%;
}
.states-heattime.mdl-card {
  width: 90%;
  margin: 4rem;
  margin-left: 5%;
}
.cbsa-graph.mdl-card {
  width: 90%;
  margin: 4rem;
  margin-left: 5%;
}
.csa-graph.mdl-card {
  width: 90%;
  margin: 4rem;
  margin-left: 5%;
}
.states-graph.mdl-card {
  width: 90%;
  margin: 4rem;
  margin-left: 5%;
}
.countries-graph.mdl-card {
  width: 90%;
  margin: 4rem;
  margin-left: 5%;
}
.example_image {
  width: 450px;
  display: flex;
}
.risk-scale.mdl-card {
  width: calc(100% - 4rem);
  max-width: 720px;
  margin: 2rem;
  margin-right: auto;
  margin-left: auto;
}
.risk-scale > .mdl-card__title {
  padding: 0rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #fff;
  overflow-x: unset;

}
.mdl-card__title {
  overflow-x: scroll;
}

.odd td {
  background-color: #eeeeee;
}

.odd:hover td {
  background-color: #dddddd;
}

.risk-scale > .mdl-card__menu {
  color: #fff;
}

.mdl-card__supporting-text {
  color: black;
  font-size: 12pt;
  padding-bottom: 0
}
.risk_index_img {
  width: 100%;
  max-width:672px;
  margin-left: auto;
  margin-right: auto;
}
.topdesc {
  text-align: justify;
}
sub {
   font-size: .83em !important;
   vertical-align: -0.25em !important;
   line-height: 0 !important;
}
sup {
   font-size: .83em !important;
   vertical-align: 0.25em !important;
   line-height: 0 !important;
}
